{{define "base"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GoTel</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

        {{block "css" .}}
        {{end}}
        <style>

            .my-footer {
                height: 5em;
                background-color: #333;
                color: #fff;
                padding: 1em;
            }
        </style>
    </head>
    <body>
    <header>
        {{block "header" .}}
        {{end}}
    </header>
    <main>
        {{block "content" .}}
        {{end}}
    </main>
    <footer>
        {{block "footer" .}}
        {{end}}
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>

    {{block "js" .}}
    {{end}}

    <script>
        let attention = Prompt();


        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        function notify(msgType, msg) {
            notie.alert({
                type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                text: msg,
                // stay: Boolean, // optional, default = false
                // time: Number, // optional, default = 3, minimum = 1,
                // position: String // optional, default = 'top', enum: ['top', 'bottom']
            })
        }

        function notifyModal(title, html, icon, confirmButtonText) {
            Swal.fire({
                title,
                html,
                icon,
                confirmButtonText
            })
        }

        function Prompt() {
            let toast = function (c) {
                const {
                    position = "top-end",
                    icon = "success",
                    title = "",
                    text = "",
                } = c;
                const Toast = Swal.mixin({
                    toast: true,
                    position,
                    icon,
                    title,
                    text,
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({})
            }

            let success = function (c) {
                const {
                    title = "",
                    text = "",
                    footer = "",
                } = c;

                Swal.fire({
                    icon: "success",
                    title,
                    text,
                    footer,
                })
            }

            let error = function (c) {
                const {
                    title = "",
                    text = "",
                    footer = "",
                } = c;

                Swal.fire({
                    icon: "error",
                    title,
                    text,
                    footer,
                })
            }

            async function custom(c) {
                const {
                    title = "",
                    text = "",
                } = c;

                const {value: result} = await Swal.fire({
                    title,
                    backdrop: true,
                    html: text,
                    focusConfirm: false,
                    showCancelButton: true,
                    willOpen: () => {
                        //abstracing the code out here to make it more flexible in the relevant form component
                        if (c.willOpen !== undefined) {
                            c.willOpen()
                        }
                    },
                    preConfirm: () => {
                        return [
                            document.getElementById('start_date').value,
                            document.getElementById('end_date').value
                        ]
                    },
                    didOpen: () => {
                        if (c.didOpen !== undefined) {
                            c.didOpen()
                        }
                    },
                })

                //Sorting out inputs for the popup date handler to make sure everything is clean.
                if (result) {
                    //Omits cancel clicks
                    if (result.dismiss !== Swal.DismissReason.cancel) {
                        //Making sure some value is being sent
                        if (result.value !== "") {
                            if (c.callback !== undefined) {
                                c.callback(result);
                            }
                        } else {
                            c.callback(false);
                        }
                    } else {
                        c.callback(false);
                    }
                }
            }

            return {
                //Returning methods using object shorthand
                toast,
                success,
                error,
                custom
            }
        }
    </script>

    </body>

    </html>
{{end}}