{{template "base" .}}
{{define "content"}}
    <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Coffee is Good</h5>
                    <p>Drink coffee in the morning to wake up. Blow on it to cool it down</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/tray.png" class="d-block w-100" alt="...">\
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tray</h5>
                    <p>Do extra work to put food on a tray so you can be lazy and eat that food in your bed.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/outside.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Outdoor Mountains</h5>
                    <p>Because indoor mountains are difficult.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"><h1>Home Page</h1></div>
            <p>Some stuff goes here...</p>
        </div>
    </div>
{{end}}
