{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Search for Availability</h1>
                <form action="reservation.html" method="post" novalidate class="needs-validation">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates">
                                <div class="col-md-6">
                                    <label for="start_date">Starting Date</label>
                                    <input required class="form-control" type="date" name="start_date" id="start_date">
                                    <small id="startDateHelp" class="form-text text-muted">Enter your starting date in
                                        YYYY-MM-DD format</small>
                                </div>
                                <div class="col-md-6">
                                    <label for="end_date">Ending Date</label>
                                    <input required class="form-control" type="date" name="end_date" id="end_date">
                                    <small id="endDateHelp" class="form-text text-muted">Enter your ending date in
                                        YYYY-MM-DD format</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Search Availability</button>
                </form>
            </div>
        </div>
    </div>
    <script>

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        document.getElementById("colorButton").addEventListener("click", function () {
            let myEl = document.getElementById("myParagraph");

            if (myEl.classList.contains("redText")) {
                myEl.classList.remove("redText");
            } else {
                myEl.classList.add("redText");
            }
        })

        const elem = document.getElementById('reservation-dates');
        const rangepicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
        })
    </script>
{{end}}
